body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
    border-radius: 4px;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.media{
    margin-top: 5px;
}
.overflow-hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu{
    color: #999;
}

.menu .icon{
    margin-right: 6px;
    font-size: 15px;
}
.menu .icon:hover{
   color: #499ef3;
}