body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
    border-radius: 4px;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.media{
    margin-top: 5px;
}