<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body style="background-color: #dddddd">
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h3>
                <span th:text="${questionData.question.getTitle()}"></span>
            </h3>
            <span style="color: #999999" class="text-desc">
                <img class="media-object img-circle"  style="margin-right: 5px;display:inline;height: 30px;width: 30px" th:src="${questionData.user.getAvatarUrl()}">
                <a style="margin-right: 10px" th:text="${questionData.user.getName()}"></a>
                浏览量: <span style="margin-right: 10px" th:text="${questionData.question.getViewCount()}"></span>
                发布时间: <span style="margin-right: 10px" th:text="${#dates.format(questionData.question.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                <style>
                    .lk:hover{
                        color: #499ef3;
                    }
                </style>
                <span th:style="${questionData.getIsPraise()==1?'margin-right: 5px;cursor:pointer;color:#499ef3':'margin-right: 5px;cursor:pointer;'}"  th:class="${questionData.getIsPraise()==1}?'lk like icon glyphicon glyphicon-thumbs-up':'lk icon glyphicon glyphicon-thumbs-up'" th:onclick="|doPraise(1,${questionData.question.getId()},this)|">(<span th:text="${questionData.question.getLikeCount()}"></span>)</span>
                <span style="cursor:pointer;" class="icon glyphicon glyphicon glyphicon glyphicon-thumbs-down"></span>
                <div style="font-size: 13px;line-height: 25px;margin-bottom: 5px;">相关标签:  <a style="font-size: 13px;margin-right: 5px" th:each="tag:${questionData.getTags()}" th:text="${tag}" class="label label-info" ></a></div>
            </span>
            <hr>
            <div style="min-height: 120px" class="text-desc">
                <span style="font-size:16px;line-height: 25px" th:text="${questionData.question.getDescription()}"></span>
            </div>
            <hr>
            <div style="height: 30px;text-align: right" class="text-desc">
                <span style="color: #337ab7;margin: 0px 5px;" class="glyphicon glyphicon-comment"></span><a  onclick="javascript:document.getElementById('box-reply').scrollIntoView()">发表评论</a>
                <span th:if="${session.user!=null&&session.user.getId()==questionData.question.getCreator()}">
                    <span style="color: #337ab7;margin: 0px 5px;" class="glyphicon glyphicon-edit"></span>
                    <a th:href="${'/publish/'+questionData.question.getId()}">编辑</a>
                </span>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li style="padding-top: 5px;padding-right:20px;"><span style="font-size: 20px;font-weight: bold" th:text="${'共'+questionData.question.getCommentCount()+'条回复'}"></span></li>
                    <li role="presentation" id="byLike" onclick="setOrderBy(2)" class="active"><a>热门回复</a></li>
                    <li role="presentation" id="byTime" onclick="setOrderBy(1)"><a>最新回复</a></li>
                </ul>
                <div>
                    <ul class="media-list" id="comment">

                    </ul>
                </div>
            </div>

            <div id="box-reply">
                <h3>
                    <span style="margin: 0px 5px;" class="glyphicon glyphicon-comment" aria-hidden="true"></span>发表评论
                </h3>
                <hr style="margin: 15px 0">
                <form id="form-publish">
                    <div class="form-group">
                        <textarea name="content" id="content" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                    <button type="button" class="btn btn-default btn-publish" onclick="publish(1,null,null)">点击发表</button>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3><span style="margin: 0px 10px;" class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>相关话题</h3>
        </div>

    </div>
</div>
</body>
<script th:inline="text">
    $.load(getReply(1,null,1,2));

    var becommentatorId=null;

    function setOrderBy(type) {
        getReply(1,null,1,type);
        if(type==1){
            $("#byLike").removeClass("active");
            $("#byTime").addClass("active");
        }

        if(type==2){
            $("#byTime").removeClass("active");
            $("#byLike").addClass("active");
        }
    }

    function setBecommentator(becommentator,obj){
        var name=$(obj).attr("data-name");
        $(".reply-text").attr("placeholder","回复 "+name);
        becommentatorId=becommentator;
    }

    function getReply(type,parentId,pageNum,orderBy) {

        var box="#comment";

        if (type==1) {
            parentId=[[${questionData.question.id}]];
            $.ajax({
                url: '/reply',
                type: 'post',
                dataType: 'text',
                data:{"parentId":parentId,"type":type,"pageNum":pageNum,"orderBy":orderBy},
                success: function (data) {

                    $(box).empty();
                    $(box).append(data);
                }
            });
        }

        if (type==2) {
            box=box+parentId;
            if($(box).is(".wait")){
                $.ajax({
                    url: '/reply',
                    type: 'post',
                    dataType: 'text',
                    data:{"parentId":parentId,"type":type,"pageNum":pageNum,"orderBy":orderBy},
                    success: function (data) {
                        $(box).empty();
                        $(box).append(data);
                    }
                });
                $(box).removeClass("wait");

            }else{
                $(box).addClass("wait");
                $(box).empty();
            }
        }

    }


    function publish(type,parentId,obj){
        var content;
        var becommentator;

        if (type==1) {
            parentId=[[${questionData.question.id}]];
            content=$("#content").val();
        }
        if(type==2){
            content=$(obj).parent().prev().val();
        }
        if(becommentatorId!=null)
        {
            becommentator=becommentatorId;
        }


        $.ajax(
            {
                type: "POST",
                dataType: "json",
                url: "/doComment",
                data:{"content": content,"parentId":parentId,"type":type,"becommentator":becommentator},
                success: function (data){
                    if(data.code==1){
                        alert("发表成功!");
                        location.reload();
                    }
                    if(data.code==0){
                        alert(data.msg);
                    }
                }
            }
        );
    }

    function doPraise(type,id,obj){
    var count=parseInt($(obj).children(":first").html());
        if($(obj).is(".like")){

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "/doPraise",
                    data:{"relativeId": id,"status":0,"type":type},
                    success: function (data){
                        if(data.code==1){
                            alert("取消成功!");
                            $(obj).css("color","#9d9d9d");
                            $(obj).removeClass("like");
                            $(obj).children(":first").html(count-1);
                        }
                        if(data.code==0){
                            alert(data.msg);
                        }
                    }
                }
            );

        }else{

            $.ajax(
                {
                    type: "POST",
                    dataType: "json",
                    url: "/doPraise",
                    data:{"relativeId": id,"status":1,"type":type},
                    success: function (data){
                        if(data.code==1){
                            alert("点赞成功!");
                            $(obj).css("color"," #499ef3");
                            $(obj).addClass("like");
                            $(obj).children(":first").html(count+1);
                        }
                        if(data.code==0){
                            alert(data.msg);
                        }
                    }
                }
            );


        }
    }

</script>
</html>